textarea {
    min-height: 400px;
}

.emailPreviewRead {
    background-color: grey;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    left:0;
    right:0;
}

.emailPreviewUnRead {
    background-color:white;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    left:0;
    right:0;
}

.btn-group.special {
    display: flex;
  }
  
.hide {
    display: none;
}

.show {
    display: block;
}