{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="logged_in_user">{{ request.user.email }}</h2>

    <!-- ok so if these buttons are not rendered as react components we cant pass them methods, so I'm going to comment them out 
    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    -->
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="featurebuttons" class="d-flex justify-content-between">
        <div id = "inboxbutton"></div>
        <div id = "composebutton"></div>
        <div id = "sentbutton"></div>
        <div id = "archivebutton"></div>
    </div>
    <hr>

    <!-- composing a new email 
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form" >
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input id="send-email" type="button" value="Send" class="btn btn-primary"/>
        </form>
    </div>
-->

    <!-- 

    If I'm going to do this properly, I've got to split up my files for readability - nope turns out that not possible with my testing setup. 

    <script type="text/babel">
        class Mailview extends React.Component {
            
          constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            emails: []

          };
        }
    
     //try this https://blog.logrocket.com/patterns-for-data-fetching-in-react-981ced7e5c56/
     //and this https://www.pluralsight.com/guides/fetching-data-updating-state-react-class
            
    componentDidMount() {
        fetch('/emails/' + this.props.mailbox)
            .then(response => response.json())
            .then(emails => {
                this.setState({emails: emails});
                
                // Print email
                console.log(emails);

                },
              )        
            }

            render() {
                return (
                    <ul>
                    {this.state.emails.map((email) =>
                        (
                            <li key={email.id} className="emailPreview">
                                Sender: {email.sender}, 
                                Subject: {email.subject}, 
                                Timestamp: {email.timestamp}</li>
                        ))}
                    </ul> 
                )};    
        }       

        //React class to render three buttons
        //class mailboxbuttons extends React.Component
        //So what andre recommend is renaming the app to emails view and then creating an app component that contains all three.
        function App() {
            return (
                <div>
                <Mailview mailbox="inbox" />
                <Mailview mailbox="sent" />
                <Mailview mailbox="archive" />
                </div>
            );
        }
    
    
    //ReactDOM.render(<App mailbox={document.querySelector('#emails').getAttribute("name")}/>, document.querySelector('#emails'))
    ReactDOM.render(<App />, document.querySelector('#emails'))
    </script>
    -->

    <!-- Reaact code for feauture buttons-->
    <script type="text/babel">
    
    class View extends React.Component {
        constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            activebutton: 'inbox',
          };
         this.activeButton = this.activeButton.bind(this);
         this.setView = this.setView.bind(this);
        }

        activeButton = (view,e) => {
            console.log(view);
            console.log(e);
            console.log(this.state.activebutton);
            this.setState({
                activebutton: view,
            }) 
            
        }

        setView =(view) => {
            this.setState({
                activebutton: view,
            })
        }

        render(){
            return(
            <div>
                <div className="d-flex justify-content-between">
                    <ViewButton view = 'inbox' onClick={this.activeButton}/> 
                    <ViewButton view = 'sent' onClick={this.activeButton}/>
                    <ViewButton view = 'archive' onClick={this.activeButton}/>
                    <ViewButton view = 'compose' onClick={this.activeButton}/>
                </div>
                <div>
                    <EmailsPreview mailbox={this.state.activebutton}/>
                </div>
                <div>
                    <ComposeMail button={this.state.activebutton} setview={this.setView}/>
                </div>
            </div>
            );
        }

    }
    
    function ViewButton (props) {
           return (
           <div>
           <button className="btn btn-sm btn-outline-primary" onClick={(e) => props.onClick(props.view, e)} >{props.view.charAt(0).toUpperCase() + props.view.slice(1)}</button>
           </div>
           );
        }
    

    class EmailsPreview extends React.Component {
        
        constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            emails: [],
            show: true,

          };
        }

        componentDidMount() {
        fetch('/emails/' + this.props.mailbox)
            .then(response => response.json())
            .then(emails => {
                this.setState({
                    emails: emails,
                    show: true,
                });
                
                // Print email
                console.log(emails);

                },
              )        
            }
            
        componentDidUpdate(prevProps, prevState, snapshot){
            console.log(this.props.mailbox)
            console.log(prevProps.mailbox)
            //Think need logic here to detect if active button is something other than a mailbox. and if so hide the div.
            if (this.props.mailbox != 'inbox' && this.props.mailbox != 'sent' && this.props.mailbox != 'archive' && this.state.show == true){
                console.log("not a mailbox");
                this.setState({
                    show: false, 
                });
                //setting state here is sending it into a infinite loop because its been re-rendered. 
            }
            else if (this.props.mailbox != prevProps.mailbox){
                fetch('/emails/' + this.props.mailbox)
            .then(response => response.json())
            .then(emails => {
                this.setState({
                    emails: emails,
                    show: true,
                });
                
                // Print email
                console.log(emails);

                },
              ) 
            }
        }

        render() {
            console.log(this.state.show);
            return(
            <div className={this.state.show ? 'show' : 'hide'} >
            <h2>{this.props.mailbox}</h2>
            <ul>
                    {this.state.emails.map((email) =>
                        ( 
                            
                            <li key={email.id} className={email.read ? 'emailPreviewRead' : 'emailPreviewUnRead'}>
                                Sender: {email.sender}, 
                                Subject: {email.subject}, 
                                Timestamp: {email.timestamp}</li>
                            
                                ))}
                    </ul> 
                </div>
                )};  
    }

    class ComposeMail extends React.Component {
        constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            show: false,
            sender: "{{request.user.email}}",
            receiver: '',
            subject:'',
            body:'',
          };
        }

        componentDidUpdate(prevProps, prevState, snapshot){
            if(this.props.button == 'compose' && prevState.show == false) {
                this.setState({
                  show: true,
                });
               console.log(this.state.show);
                  } else if(this.props.button != 'compose' && prevState.show == true) {
                     this.setState({
                     show: false,
                })
                }
            }
        
            handleSender = (event) => {
                this.setState({
                    sender: event.target.value
                })
            }  
            
            handleReciever = (event) => {
                this.setState({
                    reciever: event.target.value
                })
            }  
            
            handleSubject = (event) => {
                this.setState({
                    subject: event.target.value
                })
            }   

            handleBody = (event) => {
                this.setState({
                    body: event.target.value
                })
            }   

            handleSubmit = (event) => {
                //alert(`${this.state.reciever} ${this.state.sender} ${this.state.body}`)
                        fetch('/emails', {
                            method: 'POST',
                            body: JSON.stringify({
                                recipients: this.state.reciever,
                                subject: this.state.subject,
                                body: this.state.body
                            }) 
                            }) 
                            .then(response => response.json())
                            .then(result => {
                                console.log(result);
                            })
                            .then(() => 
                            load_mailbox('sent')
                            )
                            .catch((error) => {
                            console.error('Error:', error);
                        }); 
                event.preventDefault()
                //Hide the component
                this.setState({
                    show:false,
                })
                //Show the sent mailbox 
                this.props.setview('sent');

            }   

        
        render() {
            console.log("this is the state of compose show")
            console.log(this.state.show)
            return (
                <div className={this.state.show ? 'show' : 'hide'} >
                    <form onSubmit={this.handleSubmit}>
                        <div className="form-group">
                            <label>From:</label>
                            <input 
                                type="text"
                                value = "{{request.user.email}}"
                                />
                            </div>
                            <div className="form-group">
                            <label>To:</label>
                            <input 
                                type="text"
                                value={this.state.reciever}
                                onChange={this.handleReciever}
                            />
                            </div>
                            <div className="form-group">
                            <label>Subject</label>
                            <input 
                                type="text"
                                value={this.state.subject}
                                onChange={this.handleSubject}
                            />
                            </div>
                            <div className="form-group">
                                <label>Body</label>
                                <textarea
                                type = "text"
                                value = {this.state.body}
                                onChange = {this.handleBody}
                                />  
                            </div>
                        <button type='submit'>Send</button>
                    </form>
                </div>
            )
        }
    }


   


    ReactDOM.render(<View />, document.getElementById('featurebuttons'));
    //compose button would be a different feature
    //ReactDOM.render(<FeatureButton mailbox = "compose"/>, document.getElementById('composebutton'));
    </script>


    



{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
    <!-- Load react -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin=""></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin=""></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}