{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="logged_in_user">{{ request.user.email }}</h2>

    <!-- ok so if these buttons are not rendered as react components we cant pass them methods, so I'm going to comment them out 
    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    -->
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="featurebuttons" class="d-flex justify-content-between">
        <div id = "inboxbutton"></div>
        <div id = "composebutton"></div>
        <div id = "sentbutton"></div>
        <div id = "archivebutton"></div>
    </div>
    <hr>

    <!-- composing a new email 
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form" >
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input id="send-email" type="button" value="Send" class="btn btn-primary"/>
        </form>
    </div>
-->

    <!-- 

    If I'm going to do this properly, I've got to split up my files for readability - nope turns out that not possible with my testing setup. 

    <script type="text/babel">
        class Mailview extends React.Component {
            
          constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            emails: []

          };
        }
    
     //try this https://blog.logrocket.com/patterns-for-data-fetching-in-react-981ced7e5c56/
     //and this https://www.pluralsight.com/guides/fetching-data-updating-state-react-class
            
    componentDidMount() {
        fetch('/emails/' + this.props.mailbox)
            .then(response => response.json())
            .then(emails => {
                this.setState({emails: emails});
                
                // Print email
                console.log(emails);

                },
              )        
            }

            render() {
                return (
                    <ul>
                    {this.state.emails.map((email) =>
                        (
                            <li key={email.id} className="emailPreview">
                                Sender: {email.sender}, 
                                Subject: {email.subject}, 
                                Timestamp: {email.timestamp}</li>
                        ))}
                    </ul> 
                )};    
        }       

        //React class to render three buttons
        //class mailboxbuttons extends React.Component
        //So what andre recommend is renaming the app to emails view and then creating an app component that contains all three.
        function App() {
            return (
                <div>
                <Mailview mailbox="inbox" />
                <Mailview mailbox="sent" />
                <Mailview mailbox="archive" />
                </div>
            );
        }
    
    
    //ReactDOM.render(<App mailbox={document.querySelector('#emails').getAttribute("name")}/>, document.querySelector('#emails'))
    ReactDOM.render(<App />, document.querySelector('#emails'))
    </script>
    -->

    <!-- React code for feauture buttons-->
    <script type="text/babel">
    
    class View extends React.Component {
        constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            activebutton: 'inbox',
            subject:'',
            body:'',
            timestamp:'',
            reciever:'',
            sender:'',
            archived:'',
            id:'',
          };
         this.activeButton = this.activeButton.bind(this);
         this.setView = this.setView.bind(this);
         this.handleReadMail = this.handleReadMail.bind(this);
         this.handleArchivedChange = this.handleArchivedChange.bind(this);
        }

        activeButton = (view,e) => {
            console.log(view);
            console.log(e);
            console.log(this.state.activebutton);
            this.setState({
                activebutton: view,
            }) 
            
        }

        setView =(view) => {
            this.setState({
                activebutton: view,
            })
        }

        handleReadMail = (view, sender, subject, body, timestamp, id, read, archived, recepiant, event) => {
             //make a logic to check if read and if not send request to mailbox
             console.log("This is the ID been used to update state when hendle read email is tapped " + id)
            if(read != true) {
             fetch('/emails/' + id, {
                            method: 'PUT',
                            body: JSON.stringify({
                                read: true
                                }) 
                            }) 
                        }
            //set the state to display the email               
            this.setState({
                activebutton: view,
                subject: subject,
                body: body,
                timestamp: timestamp,
                sender: sender,
                reciever: recepiant,
                archived: archived,
                id: id,
                read: read,
             })
        }


        //handle updating of archived status, then redirect to inbox. Ok the ID is ubdefined! Fix it
         handleArchivedChange = (id, e) => {
            console.log("This is the ID been passed to the handlearchivedchange function " + id);
            console.log("This is the event been passed to the handlearchivedchange function " + e);
            console.log("This is the archived state " + this.state.archived);
            fetch('/emails/' + id, {
                            method: 'PUT',
                            body: JSON.stringify({
                                archived: !this.state.archived
                                }) 
                            })
                            .catch((error) => {
                            console.error('Error:', error);
                        }); 
                            this.setState({
                                activebutton: 'inbox'
                            })
                        }

        


        render(){
            console.log("the active button is" + this.state.activebutton)
            return(
            <div>
                <div className="d-flex justify-content-between">
                    <ViewButton view = 'inbox' onClick={this.activeButton}/> 
                    <ViewButton view = 'sent' onClick={this.activeButton}/>
                    <ViewButton view = 'archive' onClick={this.activeButton}/>
                    <ViewButton view = 'compose' onClick={this.activeButton}/>
                </div>
                <div>
                    <EmailsPreview mailbox={this.state.activebutton} setview={this.setView} handlereadmail={this.handleReadMail}/>
                </div>
                <div>
                    <ComposeMail activebutton={this.state.activebutton} setview={this.setView} sender={this.state.sender} subject={this.state.subject} timestamp={this.state.timestamp} body={this.state.body}/>
                </div>
                <div>
                    <ViewMail button={this.state.activebutton} sender={this.state.sender} reciever={this.state.reciever}  subject={this.state.subject} body={this.state.body} timestamp={this.state.timestamp} archived={this.state.archived} id={this.state.id} handlearchivedchange={this.handleArchivedChange} setview={this.setView}/>
                </div>
            </div>
            );
        }

    }
    
    function ViewButton (props) {
           return (
           <div>
           <button className="btn btn-sm btn-outline-primary" onClick={(e) => props.onClick(props.view, e)} >{props.view.charAt(0).toUpperCase() + props.view.slice(1)}</button>
           </div>
           );
        }

    //define and bind functions to update archive status in the View class and pass it to the view email componenet. 
    function ArchiveButton (props) {
        return (
            <div>
                {props.archived
                 ? <button onClick={(e) => {props.handlearchivedchange(props.id, e)}}>UnArchive</button>
                : <button onClick={(e) => {props.handlearchivedchange(props.id, e)}}>Archive</button>
                }
                
            </div>
        );
    }

    //define a function to trigger Compose button with props
    function ReplyButton (props) {
       return(
        <div>
            <button onClick={(e) =>{props.setview('reply', e)}}>Reply</button>
        </div>
       );
    }
    

    class EmailsPreview extends React.Component {
        
        constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            emails: [],
            show: true,

          };
        }

        componentDidMount() {
        console.log("component did mount emails preview firing")
        fetch('/emails/' + this.props.mailbox)
            .then(response => response.json())
            .then(emails => {
                this.setState({
                    emails: emails,
                    show: true,
                });
                
                // Print email
                console.log(emails);

                },
              )        
            }
            
        componentDidUpdate(prevProps, prevState, snapshot){
            console.log("component did Update emails preview firing")
            console.log(this.props.mailbox)
            console.log(this.state.show)
            console.log(prevProps.mailbox)

            if ((this.props.mailbox == 'inbox' || this.props.mailbox == 'sent' || this.props.mailbox == 'archive') && (this.props.mailbox != prevProps.mailbox)) {
                console.log("fetching emails!")
                fetch('/emails/' + this.props.mailbox)
                 .then(response => response.json())
                 .then(emails => {
                  this.setState({
                     emails: emails,
                     show: true,
                  });
                
                 //Print email
               console.log(emails);

                },
              ) 
             } else if ((this.props.mailbox != 'inbox' && this.props.mailbox != 'sent' && this.props.mailbox != 'archive') && this.state.show == true) {
                 console.log("else statement triggered")
                this.setState({
                   show: false, 
                });
            
             }


            }

        render() {
            console.log(this.state.show);
            return(
            <div className={this.state.show ? 'show' : 'hide'}> 
            <h2>{this.props.mailbox}</h2>
            <ul>
                    {this.state.emails.map((email) =>
                        ( 
                            
                            <li key={email.id} className={email.read ? 'emailPreviewRead' : 'emailPreviewUnRead'}>
                                Sender: {email.sender}, 
                                Subject: {email.subject}, 
                                Timestamp: {email.timestamp}
                                <button onClick={(e) => this.props.handlereadmail('viewmail', email.sender, email.subject, email.body, email.timestamp, email.id, email.read, email.archived, email.recipients, e)}>View mail</button> 
                                </li>
                                ))}
                                
                    </ul> 
                </div>
                )};  
    }

    class ComposeMail extends React.Component {
        constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            show: false,
            sender: "{{request.user.email}}",
            receiver: '',
            subject:'',
            body:'',
          };
        }

        //FOR TOMORROW, HANDLING THE REPLY FEATURE:
        //1. PASS RECIEPANT AND SUBJECT TO COMPOSE COMPONENT 
        //2. IF THE PREV VIEW WAS == 'viewemail', SET STATE WITH PROPS. Ok this doesnt quite work because of a logic issue in if statement. 
        //3. IF THAT WORKS ALL THE HANDLE REPLY BUTTON NEEDS TO DO IS CHANGE VIEW 

        componentDidUpdate(prevProps, prevState, snapshot){ //fix logic problem here 
            console.log("The active button right now in the Compose Componet is " + this.props.activebutton)
            console.log("The prev active button in Compose Componet is " + prevProps.activebutton)
            console.log("the previous show state for Compose Component is " + this.state.show)
            var replysubject =  'Re: ' + this.props.subject;
            var replybody = 'On ' + this.props.timestamp + ' ' + this.props.sender + 'wrote:  ' + this.props.body;
            
            if(this.props.activebutton == 'compose' && this.props.activebutton != prevProps.activebutton) {  //prevState.show == false
                this.setState({
                  show: true,
                  receiver: '',
                  subject:'',
                  body:'',
                })
                  } else if (this.props.activebutton == 'reply' && this.props.activebutton != prevProps.activebutton){
                    console.log("HEY! HEY! THIS IS THE VALUE OF SENDER PROP" + this.props.sender)
                    this.setState({
                  show: true,
                  receiver: this.props.sender,
                  subject: replysubject,
                  body: replybody,
                  
                })
                  } else if(this.props.activebutton != 'compose' && prevState.show == true) {
                     this.setState({
                     show: false,
                })
                }
            }
        
            handleSender = (event) => {
                this.setState({
                    sender: event.target.value
                })
            }  
            
            handleReciever = (event) => {
                this.setState({
                    reciever: event.target.value
                })
            }  
            
            handleSubject = (event) => {
                this.setState({
                    subject: event.target.value
                })
            }   

            handleBody = (event) => {
                this.setState({
                    body: event.target.value
                })
            }   

            handleSubmit = (event) => {
                //alert(`${this.state.reciever} ${this.state.sender} ${this.state.body}`)
                        fetch('/emails', {
                            method: 'POST',
                            body: JSON.stringify({
                                recipients: this.state.receiver, 
                                subject: this.state.subject,
                                body: this.state.body
                            }) 
                            }) 
                            .then(response => response.json())
                            .then(result => {
                                console.log(result);
                            })
                            .then(() => 
                            load_mailbox('sent')
                            )
                            .catch((error) => {
                            console.error('Error:', error);
                        }); 
                event.preventDefault()
                //Hide the component
                this.setState({
                    show:false,
                })
                //Show the sent mailbox 
                this.props.setview('sent');
            }   

        
        render() {
            console.log("this is the state of compose show")
            console.log(this.state.show)
            return (
                <div className={this.state.show ? 'show' : 'hide'} >
                    <h2>{this.props.activebutton}</h2>
                    <form onSubmit={this.handleSubmit}>
                        <div className="form-group">
                            <label>From:</label>
                            <input 
                                type="text"
                                value = "{{request.user.email}}"
                                />
                            </div>
                            <div className="form-group">
                            <label>To:</label>
                            <input 
                                type="text"
                                value={this.state.receiver} 
                                onChange={this.handleReciever}
                            />
                            </div>
                            <div className="form-group">
                            <label>Subject</label>
                            <input 
                                type="text"
                                value={this.state.subject}
                                onChange={this.handleSubject}
                            />
                            </div>
                            <div className="form-group">
                                <label>Body</label>
                                <textarea
                                type = "text"
                                value = {this.state.body}
                                onChange = {this.handleBody}
                                />  
                            </div>
                        <button type='submit'>Send</button>
                    </form>
                </div>
            )
        }
    }


    class ViewMail extends React.Component {
        constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            show: false,
            frommailbox: '',
          };
        }

        componentDidMount(){
            console.log("View mail component mounted!")
        }

        componentDidUpdate(prevProps, prevState, snapshot){
            console.log("The active button right now in the Email View Componet is " + this.props.button)
            console.log("The prev active button is " + prevProps.button)
            console.log("the previous show state for Email View is " + this.state.show)
            //come up with logic to let this component know when it was click on from inbox, thinking to set it to state so componet knows. 

            if (this.props.button == "viewmail" && this.props.button != prevProps.button){
            console.log("Read Email Show State will to True");
            this.setState({
                show: true,
                frommailbox: prevProps.button,
            }) 
                } else if ((this.props.button != "viewmail") && prevState.show == true) {
                this.setState({
                    show: false,
                })
                    console.log("Read Email Show State should remain as " + this.state.show)
            }
        }


        render(){
            return(
                <div className={this.state.show ? 'show' : 'hide'}> 
                    <div>
                        <p>From: {this.props.sender}</p>
                    </div>
                    <div>
                        <p>To: {this.props.reciever}</p>
                    </div>
                    <div>
                        <p>Subject: {this.props.subject}</p>
                    </div>
                    <div>
                        <p>Body: {this.props.body}</p>
                    </div>
                    <div>
                        <p>TimeStamp: {this.props.timestamp}</p>
                    </div>
                    <div>
                        <p>ID: {this.props.id} </p>
                    </div>
                    <div>
                        <p>Archived: {this.props.archived.toString()} </p>
                    </div>
                    <div>
                        {((this.state.frommailbox == 'inbox') || (this.state.frommailbox == 'archive')) 
                        ? <ArchiveButton archived={this.props.archived} id={this.props.id} handlearchivedchange={this.props.handlearchivedchange}/>
                        : <div></div>
                        }
                    </div>
                    <div>
                    <ReplyButton setview={this.props.setview}/>
                    </div>
                </div>
            )
        }
    }
   


    ReactDOM.render(<View />, document.getElementById('featurebuttons'));
    //compose button would be a different feature
    //ReactDOM.render(<FeatureButton mailbox = "compose"/>, document.getElementById('composebutton'));
    </script>


    



{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
    <!-- Load react -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin=""></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin=""></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}